.container
  .row
    .col-md-4.col-md-offset-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title Please sign in
        .panel-body
          %form{"accept-charset" => "UTF-8", action: "/sessions", method: "post"}
            %fieldset
              - if flash[:error]
                .alert.alert-danger.text-center= flash[:error]
              = yield
              .form-group
                %label Username
                %input#session_username.form-control{name: "session[username]", placeholder: "Username", type: "text"}/
              .form-group
                %label Password
                %input#session_password.form-control{name: "session[password]", placeholder: "Password", type: "password", value: ""}/
              .checkbox
                %label
                  %input{name: "session[remember]", type: "checkbox", value: "1"}/
                  Remember Me
              %input.btn.btn-lg.btn-success.btn-block{type: "submit", value: "Login"}/
              %p
                New user? #{link_to "Sign up now!", signup_path}
              
