

%div.row
  %div.banner
    %div.col-md-6.col-md-offset-2#Learn
      %h3 Curious about AMASS Media?
      %div.btn#learn-more= link_to 'Learn More', root_path, :method => :get
  %div.span5.offset1

%div.row
  %div.col-md-6.col-sm-6#feat Featured Projects

%div.row#index-project-div
  %div.col-sm-4.col-md-3
    %div.thumbnail
      =image_tag "balloon.jpg"
      %div.caption  
        %h2 Project Documentary
        %p Habitat for Humanity, Oakland
  %div.col-sm-4.col-md-3
    %div.thumbnail
      =image_tag "balloon.jpg"
      %div.caption  
        %h2 Project Documentary
        %p Habitat for Humanity, Oakland
  %div.col-sm-4.col-md-3
    %div.thumbnail
      =image_tag "balloon.jpg"
      %div.caption  
        %h2 Project Documentary
        %p Habitat for Humanity, Oakland
  %div.col-sm-4.col-md-3
    %div.thumbnail
      =image_tag "balloon.jpg"
      %div.caption  
        %h2 Project Documentary
        %p Habitat for Humanity, Oakland

     
