/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
*=require twitter/bootstrap

body {
  background-color:#f7f7f9;
}


.button_to {
  margin-top: 10px;
}

#description{
  text-align:left;
  padding-top:2.3%;
  color:#8aba00;
  font-size: 170%;

}

#navbar-items {
  margin-left:5%
}

#login {
  position:relative;
  display:inline-block;
  margin-top:7%;

}

#login-div {
  margin-right:1%;
}
.navbar {
  margin-bottom: 0 !important;
}

.navbar li {
  font-size:150%;
}


.navbar a:visited{
 color:#ffffff;
  text-decoration:none;
}

.navbar a:hover{
 color:#ffffff;
 text-decoration:none;
}

.navbar a:link{
 color:#ffffff;
 text-decoration:none;
}

.navbar a:active{
 color:#ffffff;
 text-decoration:none;
}

.banner a:visited{
 color:#ffffff;
  text-decoration:none;
}

.banner a:hover{
 color:#ffffff;
 text-decoration:none;
}

.banner a:link{
 color:#ffffff;
 text-decoration:none;
}

.banner a:active{
 color:#ffffff;
 text-decoration:none;
}
.banner {
  padding-top: 0;
  height:300px;
  width: 100%;
  background-image:url('/assets/bannerpicture.jpg');
 
}

#feat {
  padding-left:7%;
  color: #8aba00;
  font-weight:bold;
  font-size:300%;
  padding-top:1%;
  padding-bottom:1%;
}

#project-div {
  padding-left:3%;
  padding-right:3%;
  margin-bottom:5%;
} 


#Learn {
  margin-top: 75px;
  position: absolute;

}


